@import "../node_modules/bulma/sass/utilities/initial-variables";

$link: hsl(217,71%, 53%);
$navbar-item-color: $white-ter;
$navbar-item-active-color: $link;
$navbar-item-active-background-color: $white-bis;

$navbar-background-color: rgba(0,0,0,0.3);