@import "../node_modules/bulma/sass/utilities/initial-variables";

$link: hsl(217,71%, 53%);

$footer-padding: 1.5rem 1rem 1.5rem;
$footer-background-color: rgba(224, 218, 197, 0.3);

$colors: (
    "beige": (rgba(224, 218, 197, 1), rgba(0, 0, 0, 1))
);