#banner {
	background:  url(../img/castells_bg_header.jpg) center / cover;
}

#banner-overlay {
  height:100%;
  width:100%;
  background-color:black;
  position:absolute;
  top:0;
  left:0;
  opacity:0.2
}