html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#wrapper {
  flex: 1;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-top: -3.5em; // default size of navbar
}

#middle {
  padding-top: 3.5em + 2em;
  padding-bottom: 2em;
  margin: 0px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.member-icon {
  margin-left: 8px;
}

.required:after {
  content:" *";
  color:#c91414;
  margin-right: 5px;
}

.note:after {
  content: " *";
  color: hsl(204, 86%, 53%);
  margin-right: 5px;
}

#menuTitle {
  margin-left: 10px;
}

.card-content a {
  color: $text-strong;
}
